.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    background-color: #edeeef;
   
  }
  
  .card {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
    width: 383px;
    height: 280px;
  }
  
  .card:hover {
    background-color: #ddd; 
  }
  .conteneur {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .card-link {
    width: 100%;
    height: 100%;
    
  }

  .card-image {
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
  }

  .card-title {
    position: absolute;
    top: 71%;
    left: 36%;
    transform: translate(-50%, -50%);
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;
  }