.ImgCarousel {
    width: 500px;
}
.slideshow {
    height: 516px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
}
.slide-image {
    width: 1216px;
    height: 516px;
    object-fit: cover;
}